version: 1
disable_existing_loggers: false

formatters:
  default_console_format:
    format: '{{ config.log.console_format }}'
    datefmt: '%Y-%m-%d %H:%M:%S'
    use_colors: true

  default_file_format:
    format: '{{ config.log.file_format }}'
    datefmt: '%Y-%m-%d %H:%M:%S'
    use_colors: false

handlers:
  console_handler:
    formatter: default_console_format
    class: logging.StreamHandler
    stream: ext://sys.stdout

  file_handler:
    formatter: default_file_format
    class: logging.handlers.RotatingFileHandler
    filename: {{ config.log.path / 'app.log' }}
    maxBytes: {{ 1024 * 1024 * 1 }}  # = 1MB
    backupCount: 10
    encoding: utf8

  error_file_handler:
    formatter: default_file_format
    class: logging.handlers.RotatingFileHandler
    filename: {{ config.log.path / 'errors.log' }}
    maxBytes: {{ 1024 * 1024 * 1 }}  # = 1MB
    backupCount: 5
    encoding: utf8
    level: ERROR

root:
  handlers: [console_handler, file_handler, error_file_handler ]
  level: DEBUG
  propagate: true

# loggers: